---
import SketchToday from "@layouts/SketchToday.astro";
import ContentHeader from "@components/sketch-today/partials/ContentHeader.svelte";
import ResourceList from "@components/sketch-today/ResourceList.svelte";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allResources = await getCollection("sketch-today");

  // Get unique categories
  const categories = [...new Set(allResources.map((entry) => entry.data.category))];

  return categories.map((category) => {
    const resourceList = allResources
      .filter((entry) => entry.data.category === category)
      .map((entry) => entry.data);

    return {
      params: { category },
      props: { resourceList },
    };
  });
}

const { resourceList } = Astro.props;
const { category } = Astro.params;
const capitalizedCategory = category.charAt(0).toUpperCase() + category.slice(1);

let iconset: string = "heroicons:";
let icon: string = "";
let bgColor: string = "";

switch (category) {
  case "icons":
    icon = iconset + "square-2-stack";
    bgColor = "bg-orange-100";
    break;
  case "palettes":
    icon = iconset + "swatch";
    bgColor = "bg-violet-100";
    break;
  case "plugins":
    icon = iconset + "squares-plus";
    bgColor = "bg-pink-100";
    break;
  case "systems":
    icon = iconset + "cube-transparent";
    bgColor = "bg-blue-100";
    break;
}
---

<SketchToday title={"Sketch Today - " + capitalizedCategory} {category}>
  <div class="flex flex-col gap-16 py-18">
    <div class="flex flex-col">
      <ContentHeader
        {icon}
        {bgColor}
        header={category}
        subtitle={"The most up-to-date " + category + "."}
      />
    </div>
    <ResourceList client:load {resourceList} />
  </div>

  <style>
    @reference "@styles/sketch-today.css";
    h1 {
      @apply text-4xl capitalize;
    }
  </style>
</SketchToday>
