---
import "../styles/sketch-today.css";
import Analytics from "./partials/Analytics.astro";
import { AstroSeo } from "@astrolib/seo";
import { Font } from "astro:assets";

import Header from "@components/sketch-today/Header.svelte";

interface Props {
  title: string;
  category?: string;
  slug?: string;
}

const { title, category, slug } = Astro.props;

const currentURL = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <AstroSeo
      title={title}
      description="A collection of modern resources for Sketch."
      canonical={currentURL}
      openGraph={{
        url: currentURL,
        title: title,
        description: "A collection of modern resources for Sketch.",
        images: [
          {
            url: Astro.site + "sketch-today/opengraph/site-default.webp",
            height: 630,
            width: 1200,
            alt: "Sketch Today - A collection of modern resources for Sketch",
          },
          {
            url: Astro.site + "sketch-today/opengraph/site-square.webp",
            height: 1200,
            width: 1200,
            alt: "Sketch Today - A collection of modern resources for Sketch",
          },
          {
            url: Astro.site + "sketch-today/opengraph/site-minimum.webp",
            height: 600,
            width: 315,
            alt: "Sketch Today - A collection of modern resources for Sketch",
          },
        ],
        site_name: "sketchto.day",
        type: "website",
      }}
      ,
      twitter={{
        cardType: "summary_large_image",
        handle: "@prmack",
      }}
      ,
      additionalMetaTags={[
        {
          name: "twitter:image",
          content: Astro.site + "sketch-today/opengraph/site-default.webp",
        },
        {
          name: "twitter:url",
          content: "https://sketchto.day",
        },
      ]}
    />
    <meta name="theme-color" content="#030712" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/sketch-today/favicon-light.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/sketch-today/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />
    <Font cssVariable="--font-montserrat" preload />
    <script
      is:inline
      type="module"
      src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
    >
    </script>

    <meta name="generator" content={Astro.generator} />

    <Analytics productName="Sketch Today" />

    <title>{title}</title>
  </head>
  <body>
    <main class="mx-[5%] flex h-max flex-1 flex-col py-9 md:mx-[10%]">
      <div class="flex flex-col">
        <Header {category} {slug} client:idle />
        <slot />
      </div>
    </main>
  </body>
</html>
