---
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/partials/PageHeader.svelte";
import ArticleList from "@components/partials/ArticleList.svelte";
import SocialProfiles from "@components/partials/SocialProfiles.svelte";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("writing");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const containerClass = "border-b border-surface-border";

const { post } = Astro.props;
const { Content } = await post.render();

// Get all posts except current one
const allPosts = await getCollection("writing");
const otherPosts = allPosts
  .filter((p) => p.slug !== post.slug)
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf())
  .slice(0, 4) // Latest 4 other articles
  .map((p) => ({
    slug: p.slug,
    title: p.data.title,
    description: p.data.description,
  }));
---

<Layout title={post.data.title}>
  <PageHeader>
    <h1>{post.data.title}</h1>
    <p class="text-medium text-muted text-xl">{post.data.description}</p>
  </PageHeader>

  <section
    class="border-surface-border grid-1 grid min-h-screen border-0 border-b-0 md:border lg:grid-cols-2"
  >
    <div class="article content border-surface-border gap-6 border-r">
      <Content />
    </div>
    <div class="divide-surface-border divide-y">
      <ArticleList header="More Writing" articles={otherPosts} {containerClass} client:load />
      <SocialProfiles {containerClass} />
    </div>
  </section>
</Layout>
